<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" colspan="2">Insured Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">First Name</th>
      <td>Kate</td>
    </tr>
    <tr>
      <th scope="row">Middle Name</th>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">Last Name</th>
      <td>Jennings</td>
    </tr>
    <tr>
      <th scope="row">Date of Birth</th>
      <td>05/28/1985</td>
    </tr>
    <tr>
      <th scope="row">FEIN</th>
      <td>00198765</td>
    </tr>
    <tr>
      <th scope="row">Primary Phone</th>
      <td>919-949-9035</td>
    </tr>
    <tr>
      <th scope="row">Primary E-mail Address</th>
      <td>kate.jennings124@cloud.com</td>
    </tr>
  </tbody>
</table>
